@import 'config.variables';

.menu-container {
  border: unset !important;
  box-shadow: $elevator-1 !important;
  border-radius: 0 !important;
  margin-bottom: 0 !important;
  margin-top: 0 !important;
}
