@import 'config.colors';

.link {
  text-decoration: none;
  display: inline-block;

  &--white {
    $link-color: $white;
    color: $link-color;
    &:active {
      color: $link-color;
    }
  }

  &--purple {
    $link-color: $purple;
    color: $link-color;
    &:active {
      color: $link-color;
    }
  }

  &--hover {
    opacity: 0.5;
    &:hover {
      opacity: 1;
    }
  }

  &--underline {
    text-decoration: underline;
  }
}
