$container-width-xs: 72rem;
$container-width-sm: 96rem;
$container-width-lg: 120rem;
$container-width-xl: 112rem;

$header-height-sm: 5.6rem;
$header-height-md: 5.6rem;
$header-height-lg: 6.8rem;
$header-height-xl: 7.2rem;

$footer-height-sm: 10.7rem;
$footer-height-md: 10.7rem;
$footer-height-lg: 17.55rem;
$footer-height-xl: 17.95rem;

//elevator
$elevator-1: 0px 4px 16px rgba(33, 33, 33, 0.08);

//z-index
$z-index1: 1;
$z-index4: 4;
