$black: #212121;
$light-gray: #f6f6f6;
$white: #ffffff;
$purple: #42019f;
$orange: #ffc043;
$red: #d44333;
$green: #3aa76d;
$gray: #999999;
$light-purple: #a669fe;

// message
$light-red: #fbefee;
$red-border: #ecaca5;

$light-gray-border: #e4e4e4;

//button color
$text-only-press: #f6f6f6;
$contained-black: #444444;
$contained-white: #f6f6f6;
$contained-purple: #3d068b;

//toast
$toast-success-bg: #f0faf3;
$toast-success-border: #9ee2b8;
$toast-success-text: #3aa76d;
$toast-warning-bg: #fff9ef;
$toast-warning-border: #ffcf70;
$toast-warning-text: #d78e00;
$toast-error-bg: #fbefee;
$toast-error-border: #ecaca5;
$toast-error-text: #d44333;

//upload image
$loader-circle: #dadada;
