@font-face {
  font-family: Poppins;
  src: url('fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: Poppins;
  src: url('fonts/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
}
