@import 'config.gutters';
@import 'config.media';

.container {
  margin-bottom: gutter(32);

  @include break(md) {
    margin-bottom: gutter(0);
  }
}

.img {
  width: 21rem;
  height: 21rem;
  margin-bottom: gutter(20);

  @include break(md) {
    width: 12rem;
    height: 12rem;
    margin-bottom: gutter(16);
  }
}

.title {
  margin-bottom: gutter(4);

  @include break(md) {
    margin-bottom: gutter(8);
  }

  @include break(xl) {
    margin-bottom: gutter(4);
  }
}

.description {
  width: 100%;

  @include break(md) {
    min-width: 20.8rem;
  }

  @include break(xl) {
    width: 100%;
  }
}
